*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}
body {
    font-family: var(--main-font);
    background-color: darkslategray;
}
.container {
    max-width: 1246px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}