*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}
body {
    font-family: var(--main-font);
    font-size: 16px;
}
.container {
    max-width: 1246px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.hidden {
    display: none;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 146px;
    height: 40px;
    background-color: var(--accent-color);
}