*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth !important;
}
body {
    font-family: var(--main-font);
    font-size: 16px;
}
.container {
    max-width: 1246px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
.hidden {
    display: none;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
    max-width: 146px;
    height: 40px;
    font-size: 16px;
    color: var(--light-color);
    text-decoration: none;
    font-weight: 700;
    padding: 14px 18px;
    background-color: var(--accent-color);
    border-radius: 4px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
    transition: opacity .3s ease;

    &:hover {
        opacity: .8;
    }
}

.img {
    width: 100%;
    height: auto;
}
.subtitle {
    display: inline-block;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: var(--text-color);
}
.title {
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    color: var(--main-color);
}
.desc {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: var(--text-color);
}
h1,h2,h3,h4 {
    margin: 0;
}
.link {
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    font-weight: 500;
    line-height: 28px;
    color: var(--accent-color);

    img {
        margin-top: 4px;
    }
}