.contact {
    padding: 40px 0 40px;
    background-color: var(--background);
}
.contact-content {
    max-width: 490px;
    margin-bottom: 34px;
}
.contact-content__subtitle {
    margin-bottom: 6px;
}
.contact-content__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 10px;
}
.contact-content__desc {
    font-size: 16px;
    margin-bottom: 26px;
}
.contact-picture {
    
    & img {
        display: block;
        max-width: 460px;
        box-shadow: 0 0 15px rgba(0, 0, 0, .2);
    }
}
@media screen and (min-width: 768px) {
    .contact {
        padding: 60px 0 60px;
    }    
}
@media screen and (min-width: 1024px) {
    .contact-row {
        display: flex;
        position: relative;
    }
    .contact-picture {
        position: absolute;
        right: 0px;
        top: -120px;

        & img {
            max-width: 528px;
        }
    }
}

@media screen and (min-width: 1210px) {
    .contact {
        padding: 110px 0 120px;
    }  
    .contact-picture {
        top: -200px;

        & img {
            max-width: 628px;
        }
    }
}

@media screen and (min-width: 1440px) {
    .contact-content {
        max-width: 328px;
    }
    .contact-content__subtitle {
        margin-bottom: 16px;
    }
    .contact-content__title {
        margin-bottom: 24px;
    }
    .contact-content__desc {
        margin-bottom: 32px;
    }
    .contact-picture {
        & img {
            max-width: 768px;
        }
    }
}