.detail {
    padding: 40px 0 60px;
}
.detail-content {
    max-width: 488px;
    margin-bottom: 54px;
}
.detail-content__title {
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 10px;
}
.detail-content__desc {
    font-size: 16px;
    margin-bottom: 26px;
}
.detail-content__btn {
    max-width: 154px;
}
.detail-subtitle {
    margin-bottom: 10px;
}
.detail-list {
    list-style: none;
}
.detail-list__item + * {
    margin-top: 20px;
}
.detail-list__item {
    max-width: 360px;
}
.detail-item__title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px;
}
.detail-item__desc {
    font-size: 15px;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .detail {
        padding: 60px 0 80px;
    }
    .detail-list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 35px;
        row-gap: 40px;
    }
    .detail-list__item {
        margin: 0;
    }
}
@media screen and (min-width: 1024px) {
    .detail {
        padding: 80px 0 180px;
    }
    .detail-row {
        position: relative;
    }
    .detail-content {
        margin-bottom: 80px;
    }
    .detail-content__title {
        margin-bottom: 16px;
    }
    .detail-content__btn {
        position: absolute;
        top: 75px;
        right: 0;
    }
    .detail-subtitle {
        margin-bottom: 25px;
    }
    .detail-list {
        justify-content: space-between;
        column-gap: 0;
    }
    .detail-list__item {
        max-width: 320px;
    }
    .detail-item__title {
        margin-bottom: 18px;
    }
}
@media screen and (min-width: 1210px) {
    .detail {
        padding: 80px 0 250px;
    }
    .detail-list__item {
        max-width: 360px;
    }
}
@media screen and (min-width: 1440px) {
    .detail {
        padding: 200px 0 250px;
    }
    .detail-content__btn {
        top: 90px;
    }
}
