.footer {
    padding: 56px 0 20px;
    background-color: var(--main-color);
}
.footer-content {
    margin-bottom: 40px;
}
.footer-logo {
    display: inline-block;
    margin-bottom: 40px;

    & img {
        display: block;
        width: 110px;
        height: auto;
        }
    }
.footer-list {
    list-style: none;
}
.footer-list__item + * {
    margin-top: 36px;
}
.footer-item__title {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: var(--light-color);
}
.footer-item__link {
    display: inline-block;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    line-height: 24px;
    color: var(--light-color);
}
.footer-line {
    height: 1px;
    width: 100%;
    border: none;
    opacity: .2;
    background-color: var(--light-color);
    margin-bottom: 20px;
}
.footer-bottom {
    font-size: 14px;
    font-weight: 400;
    opacity: .2;
    color: var(--light-color)
}
@media screen and (min-width: 768px) {
    .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;
    }
    .footer-list  {
        display: flex;
        column-gap: 60px;
    }
    .footer-logo,
    .footer-list__item {
        margin: 0;
    }
}
@media screen and (min-width: 1024px) {
    .footer {
        padding: 64px 0 30px;
    }
    .footer-logo {
        transition: opacity ease .2s;

        &:hover {
            opacity: .8;
        }
        &:active {
            opacity: 1;
        }        
    }
    .footer-list {
        column-gap: 120px;
    }
    .footer-item__link {
        transition: color ease .2s;
        
        &:hover {
            color: var(--accent-color);
        }
    }
    .footer-line {
        margin-bottom: 28px;
    }
}
@media screen and (min-width: 1210px) {
    .footer-logo img {
        width: 135px;
        height: 40px;
    }
    .footer-line {
        margin-bottom: 40px;
    }
}