.header {
    position: relative;
}
.header__row {
    display: flex;
    padding: 20px 0;
}
.header__logo {
    margin-right: auto;
    align-self: center;

    & img {
        display: block; 
        width: 110px;
        height: 32px;
    }
}
.header__list {
    display: none;
}
.header__sidebar {
    width: 240px;
    height: 100vh;
    background-color: var(--accent-color);
    position: absolute;
    top: 0;
    left: -240px;
    padding: 80px 28px 0;
    z-index: 2;
    transition: left .3s ease;
}
.header__sidebar--btn {
    position: absolute;
    top: 28px;
    right: 40px;
    border: none;
    background-color: transparent;
    cursor: pointer;

    & img {
        display: block;
        width: 24px;
        height: 24px;
    }
}
.header__sidebar--item {
    display: flex;
    color: var(--light-color);

    & + * {
        margin-top: 20px;
    }
}
.header__btn {
    padding: 12px 16px;
    column-gap: 8px;
    transition: opacity .3s ease;

    & img {
        width: 15px;
        height: 14px;
    }
    &:hover {
        opacity: .8;
    }
}
.humburger__btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    width: 40px;
    height: 40px;
    background-color: var(--accent-color);
    border: none;
    padding: 5px;
    border-radius: 4px;
    margin-left: 5px;
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, .2);
    transition: opacity .2s ease;
    cursor: pointer;
        
    &:hover {
        opacity: .8;
    }

    & span {
        display: inline-block;
        width: 100%;
        height: 3px;
        background-color: var(--light-color);
        border-radius: 4px;
    }
}
.shadow {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color:rgba(0, 0, 0, .5);
    z-index: 1;
}
@media screen and (min-width: 768px){
    .header__logo {
        cursor: pointer;
        transition: opacity .2s ease;

        &:hover {
            opacity: .8;
        }
    }
    .header__list {
        display: flex;
        align-items: center;
        column-gap: 26px;
        margin-right: 20px;
    }
    .header__list--item {
        list-style: none;
    }
    .header__list--link {
        display: flex;
        align-items: center;
        font-size: 15px;
        height: 40px;
        font-weight: 700;
        text-decoration: none;
        color: var(--main-color);
        transition: color .3s ease;
        position: relative;

        &::after {
            display: inline-block;
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 2px;
            background-color: var(--accent-color);
            opacity: 0;
            transition: opacity .3s ease;
        }

        &:hover {
            color: var(--accent-color);

            &::after {
                opacity: 1;
            }
        }
    }
    .header__list--item.list {
        column-gap: 5px;
        position: relative;
        cursor: pointer;
    }
    .header__list--item.list:hover {

        .header__underlist {
            display: block;
        }
    }
    .header__list--link {
        column-gap: 5px;

        &.list::after {
            display: none;
        }
    }
    .header__underlist {
        display: none;
        width: 140px;
        list-style: none;
        position: absolute;
        left: 0;
        border-radius: 4px;
        background-color: var(--accent-color);
        box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    }
    .header__underlist--link {
        display: flex;
        align-items: center;
        font-size: 15px;
        height: 40px;
        font-weight: 700;
        padding: 0 15px;
        text-decoration: none;
        color: var(--main-color);
        transition: background-color .3s ease;

        &:hover {
            background-color: #e98c00;
        }
    }
    .humburger__btn {
        display: none;
    }
}
@media screen and (min-width: 1024px) {
    .header__row {
        justify-content: space-between;
    }
    .header__logo {
        margin: 0;
    }
}