.service {
    padding: 80px 0 100px;
    background-color: var(--background);
}
.service-content {
    max-width: 520px;
    margin-bottom: 60px;
}
.service-content__title {
    margin-bottom: 14px;
}
.service-content__desc {
    font-size: 15px;
}
.service-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    list-style: none;
}
.service-list__item {
    max-width: 312px;
}
.service-list__img {
    margin-bottom: 20px;
}
.service-list__title {
    font-size: 20px;
    margin-bottom: 16px;
}
.service-list__desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 6px;
    color: var(--text-color);
}
@media screen and (min-width: 425px) {
    .service-list {
        flex-direction: row;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 1024px) {
    .service {
        padding: 120px 0 200px;
        position: relative;
        z-index: 1;
    }
    .service-list {
        justify-content: space-between;
        gap: 0;
    }
}
@media screen and (min-width: 1210px) {
    .service {
        padding: 160px 0 260px;
    }
}
@media screen and (min-width: 1440px) {
    .service-content__desc {
        font-size: 16px;
        line-height: 26px;
    }
    .service-list__desc {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 12px;
    }
}